<h3>
  Usuarios Registrados
</h3>

<div class="users--list">

  <div>
    <h6>Alondra Gonzales Chimal</h6>
    <small>Empleado</small>

    <p class="users--list--email">al221910321@gmail.com</p>
    <div class="users--list--phones">
      <div>
        <p>Celular:</p>
        <span>7226628263</span>
      </div>
      <div>
        <p>Telefono</p>
        <span>7226628263</span>
      </div>
    </div>

  </div>

  <div>
    <h6>Iris Lazcano Ortiz</h6>
    <small>Lider de Equipo</small>

    <p class="users--list--email">al221910321@gmail.com</p>
    <div class="users--list--phones">
      <div>
        <p>Celular:</p>
        <span>7226628263</span>
      </div>
      <div>
        <p>Telefono</p>
        <span>7226628263</span>
      </div>
    </div>
  </div>

  <div>
    <h6>Juana Ines Sara Reyes</h6>
    <small>Empleado</small>

    <p class="users--list--email">al221910321@gmail.com</p>
    <div class="users--list--phones">
      <div>
        <p>Celular:</p>
        <span>7226628263</span>
      </div>
      <div>
        <p>Telefono</p>
        <span>7226628263</span>
      </div>
    </div>
  </div>

  <div>
    <h6>Montserrat Cerro Ortiz</h6>
    <small>Empleado</small>

    <p class="users--list--email">al221910321@gmail.com</p>
    <div class="users--list--phones">
      <div>
        <p>Celular:</p>
        <span>7226628263</span>
      </div>
      <div>
        <p>Telefono</p>
        <span>7226628263</span>
      </div>
    </div>
  </div>
</div>

