<h3>Equipos</h3>

<div class="row w-75 mx-auto mt-5 d-none d-lg-flex">
  <div class="col-12 border-bottom border-5 border-success rounded">
    <h4 class="fs-1 d-block text-primary">Equipos</h4>
  </div>
</div>

<div class="row w-75 mx-auto mt-5 d-none d-lg-flex">
  <div class="col-12 text-center">
    <button class="btn btn-primary fs-4 fw-bold" data-bs-toggle="modal" data-bs-target="#createTeamModal">Crear Equipo</button>
  </div>
</div>

<ul class="teams--list">
  <li class="my-3" *ngFor="let team of teams" style="border-bottom: 3px solid {{ team.teamColor }}">
    <h6 class="text-primary">{{ team.name }}</h6>
    <button data-bs-toggle="modal" (click)="setSelectedTeam(team)"
            data-bs-target="#userModal"><i class="bi bi-chevron-double-right"></i></button>
  </li>
</ul>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formTeam" (ngSubmit)="saveTeam(selectedTeam)">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name" [value]="selectedTeam?.name">
          </div>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="color" class="form-control" formControlName="teamColor" [value]="selectedTeam?.teamColor">
          </div>
          <div class="mb-3 text-center w-100">
            <button class="btn btn-success fs-5 fw-bold" type="submit">Guardar</button>
            <button class="btn btn-danger fs-5 fw-bold" type="submit" (click)="deleteTeam(selectedTeam)">Eliminar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn fs-5 btn-lg btn-outline-success" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createTeamModal" tabindex="-1" aria-labelledby="createTeamModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formTeam" (ngSubmit)="createTeam()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="color" class="form-control" formControlName="teamColor">
          </div>
          <div class="mb-3">
            <button class="btn btn-success" type="submit">Guardar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn fs-5 btn-lg btn-outline-success" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
