<div class="dasboard--title">
  <h1>Bienvenido</h1>
  <h2>es momento de organizar a tus equipos</h2>
</div>

<div class="line-divisor"></div>

<div class="tasks">
  <div class="tasks--card card--users">
    <i class="bi bi-person-badge-fill text-success"></i>
    <p>&blacktriangleright; {{ users.length }} &blacktriangleleft;</p>
    <h3>Usuarios</h3>
    <div class="card-information">
      <ul>
        <li>Estos son lo usuarios registrados en tu entorno de trabajo</li>
        <li>Los usuarios pueden cumplir 3 Roles: Administrador, Líder o Miembro de Equipo</li>
        <li>Crea Edita y Elimina usuarios en esta sección</li>
      </ul>
    </div>
  </div>
  <div class="tasks--card card--teams">
    <i class="bi bi-people-fill text-success"></i>
    <p>&blacktriangleright; {{ teams.length }} &blacktriangleleft;</p>
    <h3>Equipos</h3>
    <div class="card-information">
      <ul>
        <li>Estos son los equipos que has creado</li>
        <li>Asigna miembros y lideres aquí</li>
        <li>Edita, Crea y Elimina equipos en esta sección</li>
      </ul>
    </div>
  </div>
  <div class="tasks--card card--tasks">
    <i class="bi bi-list-task text-success"></i>
    <p>&blacktriangleright; {{ tasks.length }} &blacktriangleleft;</p>
    <h3>Tareas</h3>
    <div class="card-information">
      <ul>
        <li>Estas son las tareas creadas en tu app</li>
        <li>Revisa el estado de las tareas aqui</li>
        <li>Crea Edita y Elimina tareas en esta sección</li>
      </ul>
    </div>
  </div>
</div>


